.main-title2 {
   position: absolute;
   color: #F9F1E9;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.skills_section{
  background-color: rgba(255,255,255,.1);
  width: 300px;
  height: 380px;
  border-radius: 10px;
}
.skill {
  margin: 20px;
}
.skill1 {
  margin: 20px;
}
.skill_icon {
  height: 25px;
  width: 25px;
  right: 5%;
  position: absolute;
}


@media only screen and (orientation:landscape) and (max-width:900px)  {
    .main-title2 {
      top: 60%;
    }
    .skills_section {
      height: 250px;
    }
    .skill {
      margin: 5px;
    }
    .skill1 {
      margin: 5px;
    }
    .skill_icon {
      height: 15px;
      width: 15px;
    }
    .skill span {
      font-size: 15px;
    }
}
